.about__container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about__title {
    display: grid;
    gap: 0.4em;
    text-align: center;
}

.about-t4 {
    font-size: clamp(26px, 6vw, 36px);
    font-weight: 600;
    color: #cb9897;
    margin: -30px;
    margin-bottom: 15px;
}

.about__box {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.about__left {
    width: auto;
    overflow: hidden;
}

.about__left img {
    height: 450px;
    width: 100%;
    order: 1;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

.about__right {
    display: grid;
    gap: 0.2rem;
}

.about__text {
    line-height: 1.8;
    font-size: 1.4em;
    order: 1;
}
@keyframes profile__animate {
    0%{
        border-radius: 40% 20%;
        
    }
    50%{
        border-radius: 20% 40%;
    }
        
    100%{
        border-radius: 40% 20% 40%;
    }

}

.about__left img:hover {
    filter: grayscale(0%);
}

.about__right {
    padding: 0 20px;
    width: 60%;
}

@media screen and (max-width:1000px) {

    .about__left {
        width: auto;
    }

    .about__right {
        display: grid;
        gap: 1rem;
        width: 70%;
        padding: 0 10px;
    }
}

@media screen and (max-width:800px) {
    .about-t4 {
        font-size: clamp(26px, 6vw, 36px);
        font-weight: 600;
        color: #cb9897;
        margin: 0 10px; 
        
    }
    
    .about__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .about__left {
        width: 80%;
        max-width: 100%;
    }
    .about__left img{
        height: auto;
    }

    .about__right {
        width: auto;
        padding: -20px;
        font-size: 0.9em;
        margin-bottom: 40px;
    }
    .about__text{
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
    
}