.form-container {
    background-color: #cb989740;
    padding: 2rem;
    border-radius: 0.25rem;
    margin: 100px;
    max-width: 700px;  
    margin-left: 33%;

}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    color:#4e4e4e;
    margin-bottom: 0.5rem;
}

input,
textarea {
    padding: 0.9rem;
    margin-bottom: 1rem;
    border-radius: 0.90rem;
    border: 1px solid #4e4e4e;
    font-size: 1rem;
    font-family: sans-serif;
}

button[type="submit"] {
    padding: 0.9rem;
    border-radius: 25px;
    border: none;
    background-color: #c27883;;
    color: #fff;
    font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
    max-width: 120px;
}


button[type="submit"]:hover {
    background-color: #cf92aa;
    border: 3px solid #fff;

}

@media (max-width: 480px) {
    .form-container {
        width: 300px;
        margin: 0 auto;
        
    }

    h2 {
        font-size: 1.2rem;
        color: #cb2c84;
    }

    input,
    textarea,
    button[type="submit"] {
        font-size: 0.8rem;
    }
}