
footer.footer {
    display: flex;
    background-color: #cb9897;
    align-items: center;
    justify-content: space-between;
    color: #ffe6ef;
    padding: 1em;
    font-size: 1.2rem;

}

.footer-content{
    justify-content: space-around;
}

.link{
    text-decoration: none;
    color: #ffe6ef;
    font-size: 2.2rem;
}
.link:hover{
    color:#614851;
}